In [1]:
import pyupbit

In [6]:
pyupbit.get_ohlcv("KRW-BTC",interval='minute1')

,open,high,low,close,volume,value
2024-01-19 13:07:00,56529000.0,56546000.0,56518000.0,56520000.0,4.335567,2.450643e+08
2024-01-19 13:08:00,56520000.0,56522000.0,56502000.0,56505000.0,3.827885,2.163180e+08
2024-01-19 13:09:00,56505000.0,56505000.0,56500000.0,56504000.0,3.117344,1.761373e+08
2024-01-19 13:10:00,56503000.0,56504000.0,56491000.0,56498000.0,3.125205,1.765755e+08
2024-01-19 13:11:00,56500000.0,56500000.0,56495000.0,56498000.0,1.104268,6.239022e+07
...,...,...,...,...,...,...
2024-01-19 16:22:00,57167000.0,57167000.0,57071000.0,57164000.0,9.332632,5.330849e+08
2024-01-19 16:23:00,57162000.0,57165000.0,57102000.0,57112000.0,5.066704,2.894419e+08
2024-01-19 16:24:00,57113000.0,57161000.0,57099000.0,57160000.0,2.210000,1.262467e+08
2024-01-19 16:25:00,57160000.0,57174000.0,57092000.0,57170000.0,5.388455,3.079909e+08
2024-01-19 16:26:00,57170000.0,57201000.0,57160000.0,57160000.0,3.061735,1.750389e+08